*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #555;
    background-color: #fff;
    text-rendering: optimizeLegibility;
}
/*========================REUSABLE===============================================*/
.row{
    width:100%;
    margin: 0 auto;
}
section{
    padding: 80px 0;
}
/*=======================================NAV-BAR===============================*/
.logo {
    float: left;
    width:200px;
    height:70px;
}
/*-----------MAIN-NAVS-------------*/
.main-navs p span{
    color:green;
    font-weight: 600;
}
.main-navs {
    background-color:#fff;
    padding: 5px;
}
.nivigations-list {
    list-style: none;
    float: right;
    margin-top: 15px;
/*    margin-top: 10px;*/
}
.nivigations-list li{
    display: inline-block;
    margin-right: 20px;
}
.nivigations-list li a:link,
.nivigations-list li a:visited{
    text-decoration: none;
    text-transform: uppercase;
    color:#1d5f9f;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}
.nivigations-list li a:hover,
.nivigations-list li a:active{
    border-bottom: 2px solid green;
}
/*-------------------mobile-navs-----------*/
.ion-navicon{
    float: right;
    margin-top: 10px;
    cursor: pointer;
    display: none;
}
.ion-close-round{
    float: right;
    margin-top: 10px;
    cursor: pointer;
}
/*-----------STICKY-NAVS-------------*/
.sticky{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background:rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #f0f0f0;
    z-index: 9999;
}
/*---------------------------------ICONS----------------------------------------------------------*/
.icon-small {
    font-size: 30px;
    color: green;
}

.main-navs p{
/*    margin-top: 14px;*/
    font-weight: 300;
    color:dodgerblue;
    font-size:35px;
    float: left;
}
.main-text-heading {
    position: absolute;
    top: 40%;
    left:25%;
}
header{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.55)),to(rgba(0, 0, 0, 0.5))),url(img/o-HOUSE-CLEANING-facebook.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.5)),url(img/o-HOUSE-CLEANING-facebook.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
/*------------------------------------------------------HEADINGS----------------------------------------*/
h1,h2,h3,h4{
    font-weight: 300;
    text-transform: uppercase;
}
h1{
    font-size: 150%;
    color: #f7eded;
}
h2{
    font-size: 120%;
    color:forestgreen;
    text-align: center;
}
h3{
    font-weight: 400;
    font-size: 95%;
    color:palevioletred;
    float: left;
    vertical-align: middle;
    padding-left: 10px;
}
h3 span{
    font-weight: 500;
    color: darkgreen;
}
h2:after{
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    background-color:darkgreen;
    margin: 0 auto;
    margin-top: 17px;
}
h4{
    font-size: 90%;
    margin-top: 12px;
    font-weight: 400;
    color: dodgerblue;
    margin-left: 5px;
}
h4 span{
    font-weight: 600;
    color: darkgreen;
}
/*------------------------------------------------------BUTTONS-------------------------------------------*/
.btn,
input[type=submit]{
    text-decoration: none;
    border: 2px solid green;
    padding: 10px;
    margin-right:5px;
    text-transform: uppercase;
    color:#fff;
    font-weight: 400;
}
input[type=submit],
.btn-full:link, 
.btn-full:visited {
    color:#fff;
    background-color:#1d5f9f; 
    border: 2px solid #1d5f9f;
    -webkit-transition:background-color 0.2s, border 0.s, color 0.2s;
    transition:background-color 0.2s, border 0.s, color 0.2s;
}
input[type=submit]:hover,
input[type=submit]:active,
.btn-full:hover, 
.btn-full:active{
    background-color: darkgreen;
    color: #fff;
    border: 2px solid darkgreen;
}

.abt-txt {
    font-size: 85%;
    line-height: 130%;
    width: 70%;
    margin-left:15%;
    margin-top: 8px;
}

.abt-img {
    float:left;
    height: auto;
}
/*==========================================================SECTION-ABOUT-==================================*/
.abt-details p{
    font-size: 85%;
}


.box-about:first-child {
    width:35%;
}
.box-about:last-child{
    width:50%;
}
.box-about{
    margin-top: 20px;
}

.abt-details {
    padding: 10px;
    margin-bottom: 5px;
}
.abt-details p{
    font-size:80%;
    line-height: 150%;
    display: block;
    margin-top: 40px;
}

.icon-pc {
    display: inline-block;
    float: left;
    margin-top: -10px;
}
/*===================================================SECTION-SERVICES==================================*/
.sec-services {
    background-color:#fafafa;
}

.card-services {
    width: 100%;
    -webkit-box-shadow: 0px 1px 1px #838383;
    box-shadow: 0px 1px 1px #838383;
}
.card-services div p{
    font-size: 90%;
    padding: 3%;
}
.card-services img{
    width: 100%;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}
.card-services img:hover{
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
    opacity: 1.63;
}

.btn-ghost {
    border: 3px solid #1d5f9f;
    color:#fff;
}
/*================================================FORM=====================================================*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}


/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}
/*==========================================================================================*/

































#inst-footer {
    text-decoration: none;
    color:#ccc;
    font-weight: 300;
    transition: color 0.2s;
}
#inst-footer:hover{
    color: darkgreen;
}
