*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #555;
    background-color: #fff;
    text-rendering: optimizeLegibility;
}
.row{
    width: 1140px;
    margin: 0 auto;
}
section{
    padding: 80px 0;
}
/*=======================================NAV-BAR===============================*/
.main-navs p span{
    color:green;
    font-weight: 600;
}
.main-navs {
    background-color:#fff;
    padding: 12px;
}
.nivigations-list {
    list-style: none;
    float: right;
/*    margin-top: 10px;*/
}
.nivigations-list li{
    display: inline-block;
    margin-right: 20px;
}
.nivigations-list li a:link,
.nivigations-list li a:visited{
    text-decoration: none;
    text-transform: uppercase;
    color:dodgerblue;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.nivigations-list li a:hover,
.nivigations-list li a:active{
    border-bottom: 2px solid green;
}
.icon-small {
    font-size: 30px;
    color: green;
}

.main-navs p{
/*    margin-top: 14px;*/
    font-weight: 300;
    color:dodgerblue;
    font-size:35px;
    float: left;
}
.main-text-heading {
    position: absolute;
    top: 30%;
    left:25%;
}
header{
    background-image:linear-gradient(rgba(21, 20, 20, 0.45),rgba(21, 20, 20, 0.51)),url(img/slider_bg_2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
h1,h2,h3{
    font-weight: 300;
    text-transform: uppercase;
}
h1{
    font-size: 150%;
    color: #f7eded;
}
h2{
    font-size: 120%;
    color:forestgreen;
    text-align: center;
}
h3{
    font-size: 95%;
    color: darkgreen;
    float: left;
    vertical-align: middle;
    padding-left: 10px;
}
h2:after{
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    background-color:darkgreen;
    margin: 0 auto;
    margin-top: 17px;
}
.btn{
    text-decoration: none;
    border: 2px solid green;
    padding: 10px;
    margin-right:5px;
    text-transform: uppercase;
    color:#555;
}


.abt-txt {
    font-size: 85%;
    line-height: 130%;
    width: 70%;
    margin-left:15%;
    margin-top: 8px;
}

.abt-img {
    float:left;
    height: auto;
}

.abt-details p{
    font-size: 85%;
}


.box-about:first-child {
    width:35%;
}
.box-about:last-child{
    width:50%;
}
.box-about{
    margin-top: 20px;
}

.abt-details {
    padding: 10px;
    margin-bottom: 5px;
}
.abt-details p{
    font-size:80%;
    line-height: 150%;
    display: block;
    margin-top: 40px;
}

.icon-pc {
    display: inline-block;
    float: left;
    margin-top: -10px;
}
